.SoundTile {
	height: 160px;
	width: 220px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	// border: 2px solid lightblue;
	
	img {
		width: 90px;
		height: 90px;
		margin-bottom: 40px;
		
		&:hover {
			cursor: pointer;
		}
		
		&:focus {
			outline: 1px solid white;
		}
	}
	
	
}
