.SliderContainer {
  .Slider {
    height: 2px;
		width: 200px;
		border-radius: 1px;
		background-color: white;
		position: relative;
		&Control {
			height: 18px;
			width: 18px;
			background-color: white;
			border-radius: 50%;
			position: absolute;
			top: -8px;
		}
	}
  // .SliderControl {
	// 	height: 20px;
  //   width: 20px;
	// 	background-color: white;
  //   border-radius: 50%;
  // }
}
